@charset "utf-8";

/*
**
page style
** common - gita
** top - mossari
** about - maennu
** services - hiro
** products- chapi
** news - fuyuna
** recruit - kuroyuki
** contact - arowd
** thanks - atsumi
** faq - fumi
** sitemap - kaori
** privacy - nora
** tos - saori
*/



/*==================================================

** common
==================================================*/

p {
    color: blue;
    background: white;
}



/*==================================================

** top
==================================================*/

#top {
    p {
        &.red {
            color: red;
        }
    }
}



/*==================================================

** about
==================================================*/

#about {

}



/*==================================================

** services
==================================================*/

#services {

}



/*==================================================

** products
==================================================*/

#products {

}



/*==================================================

** news
==================================================*/

#news {

}



/*==================================================

** recruit
==================================================*/

#recruit {

}



/*==================================================

** contact
==================================================*/

#contact {

}



/*==================================================

** thanks
==================================================*/

#thanks {

}



/*==================================================

** faq
==================================================*/

#faq {

}



/*==================================================

** sitemap
==================================================*/

#sitemap {

}



/*==================================================

** privacy
==================================================*/

#privacy {

}



/*==================================================

** tos
==================================================*/

#tos {
    
}