/*
**
page style
** common
** top
** about
** services
** products
** news
** recruit
** contact
** thanks - atsumi
** faq
** sitemap
** privacy
** tos
*/
/*==================================================

** common
==================================================*/
p {
  color: blue;
}

/*==================================================

** top
==================================================*/
#top p.red {
  color: red;
}

/*==================================================

** about
==================================================*/
/*==================================================

** services
==================================================*/
/*==================================================

** products
==================================================*/
/*==================================================

** news
==================================================*/
/*==================================================

** recruit
==================================================*/
/*==================================================

** contact
==================================================*/
/*==================================================

** thanks
==================================================*/
#thanks {
  color: #ccc;
}

/*==================================================

** faq
==================================================*/
/*==================================================

** sitemap
==================================================*/
/*==================================================

** privacy
==================================================*/
/*==================================================

** tos
==================================================*/
