@charset "utf-8";

/*
**
page style
** common
** top
** about
** services
** products
** news
** recruit
** contact
** thanks
** faq
** sitemap
** privacy
** tos
*/



/*==================================================

** common
==================================================*/

p {
    color: blue;
}



/*==================================================

** top
==================================================*/

#top {
    p {
        &.red {
            color: red;
        }
    }
}



/*==================================================

** about
==================================================*/

#about {

}



/*==================================================

** services
==================================================*/

#services {

}



/*==================================================

** products
==================================================*/

#products {

}



/*==================================================

** news
==================================================*/

#news {

}



/*==================================================

** recruit
==================================================*/

#recruit {

}



/*==================================================

** contact
==================================================*/

#contact {

}



/*==================================================

** thanks
==================================================*/

#thanks {

}



/*==================================================

** faq
==================================================*/

#faq {

}



/*==================================================

** sitemap
==================================================*/

#sitemap {

}



/*==================================================

** privacy
==================================================*/

#privacy {

}



/*==================================================

** tos
==================================================*/

#tos {
    
}